spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/myblog
    username: root
    password: 1234
  jpa:
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
logging:
  level:
    org:
      hibernate:
        SQL: debug
        orm:
          jdbc:
            bind: trace
server:
  port: 12345